@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&family=Roboto:ital,wght@0,100;0,400;0,700;1,300;1,400;1,500&display=swap');

:root{
    --color-main:#EFEFEF;
    --color-hightlight:#565656;
    --color-font:#F7D9C4;

}